<div class="row row-cols-1 row-cols-md-2 g-4">
    <div *ngFor="let noticia of listNoticias" class="col">
      <div class="card">
        <img [src]="noticia.urlToImage" class="card-img-top" alt="...">
        <div class="card-body">
            <span class="badge bg-primary mb-1">{{ noticia.source.name }}</span>
            <h5 class="card-title">{{ noticia.title }}</h5>
            <p class="card-text">{{ noticia.description }}</p>
            <a [href]="noticia.url" target="_blank" class="btn btn-primary btn-block">Ver Noticia</a>
        </div>
      </div>
    </div>
  </div>